* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-size: 62.5%;

  --text-color: hsl(240, 9%, 89%);
  --text-color-input: hsl(240, 6%, 51%);
  --text-color-button-hover: hsl(195, 91%, 25%);
  --text-color-danger: hsl(355, 91%, 66%);

  --bg-color: hsl(0, 0%, 0%);
  --bg-thead: hsl(195, 72%, 13%);
  --bg-input: hsl(191, 65%, 7%);
  --bg-button: hsl(195, 91%, 25%);
  --bg-button-hover: hsl(0, 0%, 100%);
  --bg-line-odd: hsla(194, 64%, 6%, 0.5);
  --bg-line-even: hsl(190, 66%, 7%);

  --table-color: hsl(191, 31%, 42%);
}

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;

  color: var(--text-color);
  background: var(--bg-color);
}

#app {
  padding-top: 11.5rem;
  max-width: 112rem;
  margin: 0 auto;

  /* border: #E1E1E6 solid 1px; */

  display: flex;

  justify-content: center;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  display: flex;

  justify-content: space-between;
  padding-bottom: 9rem;
}

.search {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.search input {
  padding: 1.6rem;

  border-radius: .5rem;
  border: none;

  background: var(--bg-input);

  color: var(--text-color-input);
  width: 46rem;

  font-weight: regular;
}

.search input::placeholder {
  font-size: 1.6rem;
}

.search button {
  background: var(--bg-button);
  
  color: #FFFFFF;
  
  padding: 1.2rem 3.2rem;

  border-radius: .5rem;
  border: none;
  
  display: flex;
  align-items: center;
  gap: .9rem;

  font-weight: bold;

  cursor: pointer;

  transition: all .4s ease-in;
}

.search button:hover {
  background: var(--bg-button-hover);
  color: var(--text-color-button-hover);
}

.search button svg path {
  transition: all .4s ease-in;
}

.search button:hover svg path {
  fill: var(--text-color-button-hover);
}

.search button p {
  line-height: 0;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;

  /* border: var(--table-color) solid 1px; */
  border-radius: 1.2rem;
  border: none;
  
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

thead {
  background-color: var(--bg-thead);
}

tbody tr {
  border: var(--table-color) solid 1px;
  border-radius: 1.2rem;
}

table th {
  padding: 1.6rem 2.4rem 1.6rem 4rem;
  text-align: left;
}

table thead tr th:first-child {
  border-top-left-radius: 1.2rem;
}

table thead tr th:last-child {
  border-top-right-radius: 1.2rem;
}

table tbody tr:nth-child(odd) {
  background: var(--bg-line-odd);
}

table tbody tr:nth-child(even) {
  background: var(--bg-line-even);
}

td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


td.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
  padding-bottom: .8rem;
}

td.remove {
  color: var(--text-color-danger);
  font-weight: 700;
  cursor: pointer;
}